.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureRow {
  justify-content: center;
}

.featureCardContainer {
  padding: 1.2rem 1.8rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.featureCardContainer a {
  width: 100%;
  display: flex;
  justify-content: center;
}

.featureCardContainer a:hover {
  text-decoration: none;
}

.featureCard {
  background: #F0EBDE;
  border-radius: 20px;
  padding: 2rem 1rem;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

.featureCard:hover {
  transition: transform 0.3s ease;
  transform: scale(1.01);
}

.featureCard h3 {
  margin: 2rem 0;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.featureCard h5 {
  flex-grow: 1;
  font-size: 1rem;
}

.featureCard p {
  margin-bottom: 0;
  text-decoration: underline;
  font-size: 1rem;
  font-weight: bold;
}

.featureSvg {
  height: 140px;
  width: 140px;
}

.featureCard h3,h5,p {
  color: #3E6957;
}

/* [data-theme='dark'] .featureCard h3,h5,p {
  color: #3E6957;
} */

/* [data-theme='dark'] .features {
  background: #111111;
} */

/* [data-theme='dark'] .features svg {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
} */