.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background: white;
}

.featureSvg {
  height: 140px;
  width: 140px;
}

[data-theme='dark'] .features {
  background: #111111;
}

[data-theme='dark'] .features svg {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}