/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #24644c;
  --ifm-color-primary-dark: #205a44;
  --ifm-color-primary-darker: #1f5541;
  --ifm-color-primary-darkest: #194635;
  --ifm-color-primary-light: #286e54;
  --ifm-color-primary-lighter: #297357;
  --ifm-color-primary-lightest: #2f8263;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --tab-gray: #ddd;
  font-family: Karla,sans-serif;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #e07444;
  --ifm-color-primary-dark: #de6b37;
  --ifm-color-primary-darker: #dc612b;
  --ifm-color-primary-darkest: #d75b24;
  --ifm-color-primary-light: #e4875d;
  --ifm-color-primary-lighter: #e6906a;
  --ifm-color-primary-lightest: #ecac8f;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

h1 {
  font-weight:500
}
h2 {
  font-weight:400
}
h3, h4, h5, h6 {
  font-weight:300
}

footer.footer--dark{
  background-color: #000;
}

/* navbar */

// [data-theme='dark'] nav.navbar{
//   background-color: #3E6957;
// }
// [data-theme='light'] nav.navbar{
//   background-color: #3E6957;
// }

nav.navbar {
  background-color: #3E6957;
  height: 80px;
  padding: 0 2rem;
  box-shadow: none;
}

.navbar__link {
  color: white;
  font-size: 1.1rem;
  padding: 5px 20px;
}

.navbar__link:hover {
  color: #DD7143;
}

.navbar__link--active {
  background-color: #DD7143;
  font-weight: bold;
  border-radius: 10px;
}

.navbar__link--active:hover {
  color: white;
}

[data-theme='dark'] .navbar__logo img {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

nav.navbar .searchBox {
  display: none !important;
}

.navbar__toggle.clean-btn {
  color: white;
  margin-right: 2rem;
}

@media (max-width: 996px) {
  nav.navbar {
    padding: 0 1rem;
  }
  .navbar__toggle.clean-btn {
    margin-right: 1rem;
  }
  .navbar__logo {
    height: 28px;
  }
  .navbar__items.navbar__items--right a {
    display: none;
  }
}

.navbar-sidebar__item:first-child .menu__list {
  list-style: none;
}

// Hide search from navbar
// .searchBox_node_modules-\@docusaurus-theme-classic-lib-theme-Navbar-Search-styles-module,
// .searchBox_ZlJk,
// .navbarSearchContainer_Bca1,
// .navbarSearchContainer_node_modules-\@docusaurus-theme-classic-lib-theme-Navbar-Search-styles-module {
//   display: none;
// }

// Hide theme mode (light/dark) from navbar
.toggle_node_modules-\@docusaurus-theme-classic-lib-theme-ColorModeToggle-styles-module,
.toggle_vylO.colorModeToggle_DEke {
  // display: none;
}

.navbar__items--right a {
  padding-right: 8px;
  padding-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.navbar__items--right a:hover {
  transition: transform 0.3s ease;
  transform: scale(1.1);
}

.navbar__logo:hover {
  transition: transform 0.3s ease;
  transform: scale(1.04);
}

.navbar-sidebar__item:first-child .menu__list li:nth-last-child(3) {
  position: absolute;
  bottom: 0;
  left: calc(50% - 95px);
  padding-bottom: 20px;
}

.navbar-sidebar__item:first-child .menu__list li:nth-last-child(2) {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 20px;
}

.navbar-sidebar__item:first-child .menu__list li:nth-last-child(1) {
  position: absolute;
  bottom: 0;
  right: calc(50% - 95px);
  padding-bottom: 20px;
}

.navbar-sidebar__brand {
  background-color: #325b4b;
}

// .navbar-sidebar__item li .socialButton {
//   height: 38px;
//   width: 38px;
// }

.socialButton {
  height: 38px;
  width: 38px;
}

// @media (min-width: 1301px) {
//   .navbar__link::before {
//     display: none;
//   }
// }

// @media (max-width: 1300px) {
//   div.navbar__items:first-child a.navbar__link {
//     font-size: 0;
//   }

//   div.navbar__items:first-child a.navbar__link svg{
//     display: none;
//   }

//   div.navbar__items:first-child a.navbar__link[href="/about/networks/"]::before {
//     content: url("/static/img/featuresIcons/tools.svg");
//     display: inline-block;
//   }

//   div.navbar__items:first-child a.navbar__link[href="/developers/"]::before {
//     content: url("/static/img/featuresIcons/build.svg");
//     display: inline-block;
//   }

//   div.navbar__items:first-child a.navbar__link[href="/bridges/"]::before {
//     content: url("/static/img/featuresIcons/bridge.svg");
//     display: inline-block;
//   }

//   div.navbar__items:first-child a.navbar__link[href="https://ecosystem.gnosischain.com/"]::before {
//     content: url("/static/img/featuresIcons/ecosystem.svg");
//     display: inline-block;
//   }

//   div.navbar__items:first-child a.navbar__link[href="/Updates"]::before {
//     content: url("/static/img/featuresIcons/ecosystem.svg");
//     display: inline-block;
//   }

//   div.navbar__items:first-child a.navbar__link[href="/faq/node/generalQuestions"]::before {
//     content: url("/static/img/featuresIcons/guide.svg");
//     display: inline-block;
//   }

//   div.navbar__items:first-child a.navbar__link[href="/node/"]::before {
//     content: url("/static/img/featuresIcons/node.svg");
//     display: inline-block;
//   }
// }

/* footer */
.footer__links {
  justify-content: center;
}

.footer__links .footer__col {
  min-width: 220px;
  max-width: 220px;
}

@media (max-width: 660px) {
  .footer__links {
    padding-top: 1.8rem;
    flex-direction: column;
    align-content: center;
  }
}


.theme-doc-markdown.markdown a{
  font-weight: bold;
}

.theme-doc-markdown.markdown img,
.theme-doc-markdown.markdown iframe {
  display: block;
  margin-left: auto;
  margin-right: auto
}

/* install sections */

.hidden {
  visibility: hidden !important;
  height: 0 !important;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}
.hide-tabs .tabs {
  visibility: hidden !important;
  height: 0 !important;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}
.hide-tabs .margin-top--md{
  margin-top: 0 !important;
}
.hide-tabs li .tabList_node_modules-\@docusaurus-theme-classic-lib-theme-Tabs-styles-module{
  margin-bottom: 0 !important; position: absolute;
}

html[data-theme='dark'] .install-tabs .tabs__item:first-child {
  color: #eee;
}
html[data-theme='dark'] .install-tabs .tabs__item:first-child:hover {
  background-color: transparent !important;
}

.install-tabs {
  position: relative;
  margin-bottom: 25px;
}
.install-tabs .tabgroup-with-label {
  font-size: 13px;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 5px;
  overflow: hidden;
  position: static;
  margin-bottom: 10px;
}
.install-tabs .tabgroup-with-label .tabs__item {
  font-size: 13px;
  font-weight: 500;
  border-top: 1px solid var(--tab-gray);
  border-bottom: 1px solid var(--tab-gray);
  padding: 10px 15px;
  border-radius: 0px !important;
  position: relative;
}
.install-tabs .tabgroup-with-label .tabs__item:first-child {
  cursor: default !important;
  color: black;
  width: 150px;
  border: 1px solid transparent !important;
  border-right: 0px !important;
}
.install-tabs .tabgroup-with-label .tabs__item:first-child:hover {
  background-color: transparent !important;
  cursor: default !important;
}
.install-tabs .tabgroup-with-label .tabs__item:nth-child(2) {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border-left: 1px solid var(--tab-gray);
  border-right: 0px !important;
  z-index: 2;
}
.install-tabs .tabgroup-with-label .tabs__item:last-child {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  border-right: 1px solid var(--tab-gray);
  border-top: 1px solid var(--tab-gray);
  border-bottom: 1px solid var(--tab-gray);
  border-left: 0px;
}
.install-tabs .tabgroup-with-label .tabs__item.tabs__item--active {
  font-size: 13px;
  font-weight: 500;
  background-color: var(--ifm-color-primary) !important;
  border-color: var(--ifm-color-primary) !important;
  color: white !important;
}
.install-tabs .tabgroup-with-label .tabs__item.disabled-tab {
  color: #999 !important;
  cursor: default;
}
.install-tabs .tabgroup-with-label:after {
  font-size: 13px;
  font-weight: 500;
  padding: 10px 15px;
  position: relative;
  border-color: transparent !important;
  transition: all 0.15s linear;
  background: transparent;
  color: transparent;
  display: inline-block;
  content: "Content updated!";
}
.install-tabs .tabgroup-with-label.updated:after {
  color: var(--ifm-color-primary);
}

.install-tabs .unsupported{
  font-size: 11px;
}

.hide-tabs-os .os-tabgroup,
.hide-tabs-network .network-tabgroup{
  display: none;
}

#__docusaurus {
  background: url("/static/img/gnosis-owl-background.svg") no-repeat;
  background-position: right bottom -5vw;
  background-size: contain;
  background-attachment: fixed;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'GT Planar', sans-serif;
}

@media (max-width: 500px) {
  body {
    background-position: left 2vw bottom -20vw;
  }
}

.custom-card-link {
  flex:4;
  margin: 5px;
  min-width: 220px;
}

.custom-card-link:hover {
  text-decoration: none;
}

.custom-card {
  background: #3E695766;
  border: 1px solid #3E6957 !important;
  border-radius: 15px;
  color: white;
  padding: 15px;
  font-weight: normal;
}

.custom-card:hover {
  background: rgb(96 174 141 / 40%);
}

.custom-card h2 {
  font-weight: bold;
}

.custom-card-container {
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;

}

aside {
  border-right: none !important;
}


aside li.menu__list-item:not(.menu__list-item--collapsed):not(.menu__list-item-collapsible):not(.theme-doc-sidebar-item-category):not(.theme-doc-sidebar-item-link-level-1) {
  border-left: 1px solid #3E6957;
  border-radius: 0;
  margin-top: 0;
  padding-top: 0.25rem;
}

.custom-small-card {
  // background: #3E695766;
  border: 2px solid #3E6957 !important;
  border-radius: 15px;
  color: white;
  padding: 10px;
  font-weight: normal;
  margin: 5px;
}

aside ul.menu__list {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.breadcrumbs__item--active .breadcrumbs__link {
  color: white;
  background-color: #3e6957;
}

:root {
  --doc-sidebar-hidden-width: 80px !important;
}

@media (min-width: 997px) {
  .collapseSidebarButton_node_modules-\@docusaurus-theme-classic-lib-theme-DocSidebar-Desktop-CollapseButton-styles-module, 
  .collapseSidebarButton_PEFL {
    position: fixed !important;
    top: 120px !important;
    left: 10px !important;
    background-color: transparent !important;
    border: none !important;
    display: block !important;
    height: 40px !important;
  }

  .docSidebarContainer_node_modules-\@docusaurus-theme-classic-lib-theme-DocRoot-Layout-Sidebar-styles-module,
  .docSidebarContainer_YfHR {
    clip-path: none !important;
  }

  .expandButton_node_modules-\@docusaurus-theme-classic-lib-theme-DocRoot-Layout-Sidebar-ExpandButton-styles-module,
  .expandButton_TmdG {
    width: 100px !important;
    position: fixed !important;
    top: 126px !important;
    left: 33px !important;
    background-color: transparent !important;
    border: none !important;
    display: block !important;
    height: 40px !important;
  }

  .sidebar_node_modules-\@docusaurus-theme-classic-lib-theme-DocSidebar-Desktop-styles-module,
  .sidebar_njMd {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: calc(var(--ifm-navbar-height) + 70px) !important;
  }

  .collapseSidebarButton_node_modules-\@docusaurus-theme-classic-lib-theme-DocSidebar-Desktop-CollapseButton-styles-module svg,
  .collapseSidebarButton_PEFL svg,
  .expandButton_node_modules-\@docusaurus-theme-classic-lib-theme-DocRoot-Layout-Sidebar-ExpandButton-styles-module svg,
  .expandButton_TmdG svg {
    display: none !important;
  }

  .collapseSidebarButton_node_modules-\@docusaurus-theme-classic-lib-theme-DocSidebar-Desktop-CollapseButton-styles-module::before,
  .collapseSidebarButton_PEFL::before {
    content: url("/static/img/arrow-to-left.svg");
  }

  .expandButton_node_modules-\@docusaurus-theme-classic-lib-theme-DocRoot-Layout-Sidebar-ExpandButton-styles-module::before,
  .expandButton_TmdG::before  {
    content: url("/static/img/arrow-to-right.svg");
  }

}

aside ul.menu__list {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.breadcrumbs__item--active .breadcrumbs__link {
  color: white;
  background-color: #3e6957;
}

:root {
  --doc-sidebar-hidden-width: 80px !important;
}

@media (min-width: 997px) {
  .collapseSidebarButton_node_modules-\@docusaurus-theme-classic-lib-theme-DocSidebar-Desktop-CollapseButton-styles-module, 
  .collapseSidebarButton_PEFL {
    position: fixed !important;
    top: 120px !important;
    left: 10px !important;
    background-color: transparent !important;
    border: none !important;
    display: block !important;
    height: 40px !important;
  }

  .docSidebarContainer_node_modules-\@docusaurus-theme-classic-lib-theme-DocRoot-Layout-Sidebar-styles-module,
  .docSidebarContainer_YfHR {
    clip-path: none !important;
  }

  .expandButton_node_modules-\@docusaurus-theme-classic-lib-theme-DocRoot-Layout-Sidebar-ExpandButton-styles-module,
  .expandButton_TmdG {
    width: 100px !important;
    position: fixed !important;
    top: 126px !important;
    left: 33px !important;
    background-color: transparent !important;
    border: none !important;
    display: block !important;
    height: 40px !important;
  }

  .sidebar_node_modules-\@docusaurus-theme-classic-lib-theme-DocSidebar-Desktop-styles-module,
  .sidebar_njMd {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: calc(var(--ifm-navbar-height) + 70px) !important;
  }

  .collapseSidebarButton_node_modules-\@docusaurus-theme-classic-lib-theme-DocSidebar-Desktop-CollapseButton-styles-module svg,
  .collapseSidebarButton_PEFL svg,
  .expandButton_node_modules-\@docusaurus-theme-classic-lib-theme-DocRoot-Layout-Sidebar-ExpandButton-styles-module svg,
  .expandButton_TmdG svg {
    display: none !important;
  }

  .collapseSidebarButton_node_modules-\@docusaurus-theme-classic-lib-theme-DocSidebar-Desktop-CollapseButton-styles-module::before,
  .collapseSidebarButton_PEFL::before {
    content: url("/static/img/arrow-to-left.svg");
  }

  .expandButton_node_modules-\@docusaurus-theme-classic-lib-theme-DocRoot-Layout-Sidebar-ExpandButton-styles-module::before,
  .expandButton_TmdG::before  {
    content: url("/static/img/arrow-to-right.svg");
  }

}